#body{
  background-color: rgb(30, 255, 0);
  width: 100%;
  height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
   grid-template-areas: "nav"
   "container";
}

#header{
  background-color: blue;
  grid-area: nav;
  grid-column-start: 1;
  grid-column-end: 12;
  width: 100%;
  height:75px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 100px;
  top:0px;
}
#header-img{
  width: 100px;
}
ul{
  list-style: none;
  display: flex;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
  
  nav li {
    padding-bottom: 20px;
    margin-left: 280px;
  }
  .about{
      color: black;
      text-decoration: none;

  }
  .services{
      color: black;
      text-decoration: none;

  }
.contact{
    background-color: blue;
    color: white;
    text-decoration: none;
 
}


#container {
  background-color: blue;
  width: 100%;
  height: 476px;
  grid-area: container;
  grid-column-start: 1;
  grid-column-end: 12;
  display: grid;
  grid-template-areas: 
  "content image";
  grid-column-gap: 350px;
  
  
}
#main-content{
  grid-area: content;
  background-color: crimson;
  
  
}


#main-content p{
  width: 433px;
  height: 144px;
}

#main-content a{
  grid-area: contact;
}


#image1{
  grid-area: image;
  width: 660px;
  height: 476px;
  
  
}

footer{
  grid-area: footer;
}